.intro_bounds {
    margin-bottom: 64px;
}

@media screen and (min-width: 767px) {
    .intro_bounds {
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1023px) {
    .intro_bounds {
        margin-bottom: 92px;
    }
}